<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ site.lang }}">
<!--<![endif]-->

<head>
    {% include common/meta.html %}
    <link href='{{ site.baseurl }}/assets/stylesheets/blog.css' rel="stylesheet" type="text/css">
    {% include common/libraries.html %}
    {% if site.google_tag_manager %}
        {% include common/gtm-head.html %}
    {% endif %}
    
    <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/logo_favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{site.baseurl}}/assets/logo_favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/logo_favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/assets/logo_favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/logo_favicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/assets/logo_favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    
</head>

<body>
    {% if site.google_tag_manager %}
        {% include common/gtm-body.html %}
    {% endif %}

    {% include common/notices.html %}
    {% include blog/overlay.html %}

    <div id="page" class="hentry">
        {% include blog/header.html %}

        <div class="body animated fadeInDown" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include blog/footer.html %}
    </div>

    {% include blog/scripts.html %}
</body>

</html>
